_site
.sass-cache
.jekyll-metadata
*.iml
.idea
Gemfile.lock
/.obsidian/plugins/**/main.js
/.obsidian/plugins/**/manifest.json
/.obsidian/plugins/**/styles.css
/.obsidian/plugins/**/store/
/.obsidian/plugins/zotero-sync-client/data.json
/.obsidian/workspace.json

/.bsp/
/.gradle/
/.idea/
/.scala-build/
/build/
/out/

/.obsidian/themes/Omarchy/theme.css
