title: "Проджеки и мысли"
author: "Leonid Dubinsky"
email: dub@podval.org

description: >- # this means to ignore newlines until "baseurl:"
  Projects and thoughts
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://dub.podval.org" # the base hostname & protocol for your site, e.g. http://example.com
timezone: America/New_York
google_analytics: UA-18415116-1

twitter_username: leoniddubinsky
github_username:  dubinsky
linkedin_username: leoniddubinsky

markdown: kramdown
theme: minima

plugins:
  - jekyll-mentions
  - jekyll-avatar
  - jekyll-feed
  - jekyll-sitemap


exclude:
  - Gemfile
  - Gemfile.lock
  - CNAME
  - .idea

header_pages:
  - index.md
  - blog.md
  - tags.html
