<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <div class="backlinks">
        {% if page.backlinks != blank %}
        <hr/>
        <h4>Backlinks</h4>
        {% for backlink in page.backlinks %}
        {% assign linked_doc = site.pages | concat: site.posts | where: "url", backlink.url | first %}
        • <a class="backlink" href="{{ linked_doc.url }}">{{ linked_doc.title }}</a>
        {% endfor %}
        {% endif %}
        </div>
      </div>
    </main>

    {%- include footer.html -%}
  </body>
</html>
